nav {
  background-color: steelblue;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

h1 {
  color: steelblue;
  text-align: center;
  border-bottom: 1px solid steelblue;
  padding-bottom: 10px;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

main {
  max-width: 840px;
  margin: 0 auto;
}